<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for("static",filename='bootstrap/bootstrap@4.6.min.css') }}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">老张家生日管理</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/birth/register">添加</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for("register.search") }}">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入姓名搜索" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </div>
    </nav>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">{% block body %}{% endblock %}</div>
<div hidden>
    <iframe src="/music"></iframe>
</div>
</body>
</html>
